body {
	margin: 0;
	background-color: #161617;
	overflow: hidden;
}

.raindrop {
	position: absolute;
	background: #216580;
	background: linear-gradient(0deg, rgba(33, 101, 128, 1) 0%, rgba(42, 123, 155, 1) 20%, rgba(42, 123, 155, 0.21) 70%, rgba(42, 123, 155, 0) 100%);
	border-radius: 100%;
}
